version 5.249.0
storage: none
framework: netstandard2.0, netstandard2.1, netcoreapp3.1

source https://api.nuget.org/v3/index.json

nuget FSharp.Core

group Test
    storage: none
    framework: netstandard2.0, netstandard2.1, netcoreapp3.1

    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget FsCheck
    nuget Microsoft.NET.Test.Sdk
    nuget nunit
    nuget nunit.runners
    nuget NUnit3TestAdapter
    nuget Unquote

group Build
    storage: none
    framework: netstandard2.0, netstandard2.1, netcoreapp3.1

    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core
    nuget FSharp.Formatting
    nuget NuGet.CommandLine

    github fsharp/FAKE modules/Octokit/Octokit.fsx

    clitool dotnet-proj-info
