type project
owners
    Paulmichael Blasucci
authors 
    Paulmichael Blasucci
projectUrl
    http://github.com/zeromq/fszmq
iconUrl
    https://raw.githubusercontent.com/zeromq/fszmq/master/docs/files/img/logo.png
licenseUrl
    http://github.com/zeromq/fszmq/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    
summary
    fszmq
description
    fszmq


